body, html {
    height: 100%;
    margin: 0%;
    padding: 0%;
}

.top-section {
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 2%;
    padding-bottom: 3%;
    background-color: darkseagreen;
    border-bottom: solid black;
}

.panel-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: darkseagreen;
    margin-bottom: 0%;
}

.top-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 96%;
    margin-bottom: 1%;
    margin-right: 5%;
    margin-left: 3%;
}

.bottom-section {
    height: 85.8%;
    display: flex;
    flex-direction: row;
    margin-top: 0%;
}

.visualization {
    width: 20%;
    background-color: darkseagreen;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-right: solid black;
}

.visualization-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 10%;
    width: 100%;
    background-color: darkseagreen;
}

.bottom-options {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 50%;
    height: 90%;
    background-color: darkkseagreen;
}

.top-options button {
    padding: 2%;
    margin-left: 2%;
    margin-right: 2%;
    background-color: #4CAF50; /* Green color */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    border: solid black;
    width: 120%;
    height:  200%;
    font-size: 150%;
}

.bottom-options button {
    background-color: #4CAF50; /* Green color */
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border: solid black;
    width: 130%;
    height: 10%;
    font-size: 150%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.top-options button:hover, .bottom-options button:hover {
    background-color: darkgreen; /* Darker green color on hover */
}

.display {
    width: 100%;
    height: 100%;
    background-color: seagreen;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display table {
    border-collapse: collapse;
    width: 90%;
    background-color: white;
    border: solid black;
}

.display th, .display td {
    border: solid black;
    padding: 0.5%;
    text-align: left;
}

.display th {
    background-color: forestgreen;
    color: white;
}

.display tr:nth-child(even) {
    background-color: white;
}

.display tr:hover {
    background-color: greenyellow;
}

/* Additional CSS for modal dialog box */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 200%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 20% auto;
    padding: 1%;
    border: solid black;
    width: 30%;
    display: flex;
    flex-direction: row; /* Ensure buttons are positioned in a row */
    justify-content: space-around; /* Adjusts the space between buttons */
    align-items: center; /* Center-align buttons vertically */
    font-weight: bold;
    font-size: 150%;
}

.modal-content button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border-radius: 3%;
    margin: 0%;
    font-weight: bold;
    height: 250%;
    font-size: 80%;
    border:  solid black;
}

.modal-content input {
    background-color: white;
    color: #4CAF50;
    margin: 0%;
    height: 5%;
    font-weight: bold;
    font-size: 80%;
    border: solid black;
}

.modal-content button:hover {
    background-color: #45a049;
}

.close {
    color: red;
    float: left;
    font-size: 150%;
    font-weight: bold;
    margin: 0%;
}

.close:hover,
.close:focus {
    color: darkred;
    text-decoration: none;
    cursor: pointer;
}
/* Dropdown Button CSS */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 102%;
    box-shadow: 10px 16px 16px 10px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content button {
    color: black;
    background-color: white;
    border: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-right: 5%;
    justify-content: space-between; /* Align items and distribute space */
}

/* Style for the icon */
.dropdown-content button::after {
    content: attr(data-icon); /* Set the content to the data-icon attribute */
    font-size: 1.2em; /* Adjust icon size */
    color: black; /* Adjust icon color */
}

.dropdown-content button:hover {
    background-color: lightgreen;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 100%;
    font-size: 100%;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropbtn::after {
    content: attr(data-icon); /* Set the content to the data-icon attribute */
    font-size: 1.2em; /* Adjust icon size */
    color: white; /* Adjust icon color */
}

.dropbtn:hover {
    background-color: #3e8e41;
}
