body, html {
    height: 100%;
    margin: 0%;
    padding: 0%;
}

.top-section {
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 2%;
    padding-bottom: 3%;
    background-color: darkseagreen;
    border-bottom: solid black;
}

.panel-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: darkseagreen;
    margin-bottom: 0%;
}

.top-options {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-bottom: 1%;
}

.top-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    height: 70%;
}

.top-icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 20%;
    height: 70%;
}

.bottom-section {
    height: 85.8%;
    display: flex;
    flex-direction: row;
    margin-top: 0%;
}

.visualization {
    width: 20%;
    background-color: darkseagreen;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-right: solid black;
}

.visualization-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 10%;
    width: 100%;
    background-color: darkseagreen;
}

.bottom-options {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 50%;
    height: 90%;
    background-color: darkkseagreen;
}

.top-options button {
    padding: 0%;
    margin-left: 2%;
    margin-right: 2%;
    background-color: #4CAF50; /* Green color */
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border: solid black;
    width: 60%;
    height:  200%;
    font-size: 150%;
}

.bottom-options button {
    background-color: #4CAF50; /* Green color */
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border: solid black;
    width: 130%;
    height: 10%;
    font-size: 150%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.top-options button:hover, .bottom-options button:hover {
    background-color: #45a049; /* Darker green color on hover */
}

.display {
    width: 80%;
    background-color: seagreen;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display table {
    border-collapse: collapse;
    width: 90%;
    background-color: white;
    border: 2px solid black;
}

.display th, .display td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

.display th {
    background-color: #4CAF50;
    color: white;
}

.display tr:nth-child(even) {
    background-color: #f2f2f2;
}

.display tr:hover {
    background-color: #ddd;
}
