<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="top-section">
        <div class="panel-header">
            <h3>PORTFOLIO TRACKER</h3>
        </div>
        <div class="top-options">
            <div class="top-buttons">
                <div class="dropdown">
                    <button class="dropbtn">Portfolio Entry Options &#9662;</button>
                    <div class="dropdown-content">
                        <button id="add_entry" data-icon="&#43;">Add</button>
                        <button id="update_entry" data-icon="&#9998;">Update</button>
                        <button id="delete_entry" data-icon="&#128465;">Delete</button>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">Investment Account Options &#9662;</button>
                    <div class="dropdown-content">
                        <button id="add_investment" data-icon="&#43;">Add</button>
                        <button id="update_investment" data-icon="&#9998;">Update</button>
                        <button id="delete_investment" data-icon="&#128465;">Delete</button>
                    </div>
                </div>
            </div>
            <div class="top-icons">
                <button id="export_data">Sync &#10514;</button>
            </div>
        </div>
    </div>
    <div class="bottom-section">
        <div class="visualization">
            <div class="visualization-header">
                <h3>VIEW OPTIONS</h3>
            </div>
            <div class="bottom-options">
                <button id="clear_display">Clear Screen</button>
                <button id="projection">Projection</button>
                <button id="pie_chart">Pie Chart</button>
                <button id="past_entries">Past Entries</button>
                <button id="re_calculator">RE Calculator</button>
            </div>
        </div>
        <div class="display"></div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
