<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="top-section">
        <div class="panel">
        	<div class="panel-header">
            	<h3>PORTFOLIO OPTIONS</h3>
            </div>
            <div class="top-options">
                <button id="add_portfolio_entry">Add Entry</button>
                <button id="update_portfolio_entry">Update Entry</button>
                <button id="delete_portfolio_entry">Delete Entry</button>
            </div>
        </div>
        <div class="panel">
        	<div class="panel-header">
            	<h3>INVESTMENT OPTIONS</h3>
            </div>
            <div class="top-options">
                <button id="add_investment">Add Investment</button>
                <button id="update_investment">Update Investment</button>
                <button id="delete_investment">Delete Investment</button>
            </div>
        </div>
    </div>
    <div class="bottom-section">
        <div class="visualization">
        	<div class="visualization-header">
            	<h3>VIEW OPTIONS</h3>
        	</div>
            <div class="bottom-options">
                <button id="projections">Projections</button>
                <button id="pie_charts">Pie Charts</button>
                <button id="past_entries">Past Entries</button>
            </div>
        </div>
        <div class="display">
            <!-- Placeholder for display section -->
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
